# Dépendances
node_modules/

# Fichiers d'environnement
.env
.env.test
.env.local

# Dossier de couverture de code généré par Jest
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Fichiers OS
.DS_Store
Thumbs.db